{include file="header" /}
<!--搜索框开始-->
{include file="search" /}
<!--搜索框结束-->


<!--幻灯片开始-->
<div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
    <div class="swiper-wrapper" style="height:200px;">
        <div class="swiper-slide"><img src="http://img62.ddimg.cn/upload_img/00705/yhj/X-CP-640x284-7.13.jpg" alt=""></div>
        <div class="swiper-slide"><img src="http://a.dangdang.com/api/data/cpx/img/39410001/1" alt=""></div>
        <div class="swiper-slide"><img src="http://a.dangdang.com/api/data/cpx/img/39290001/1" alt=""></div>
    </div>
</div>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>
<!--幻灯片结束-->

<!--列表开始-->
<div class="weui-panel__hd">热门书籍</div>
<div class="weui-panel__bd">
    <a href="__ROOT__/book/index/id/5" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb"
                 src="https://images-cn.ssl-images-amazon.com/images/I/61GyVMygivL._SY498_BO1,204,203,200_.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">六神磊磊读唐诗</h4><!--标题-->
            <p class="weui-media-box__desc">自媒体写作的高峰六神磊磊力作，一本又有趣又涨姿势的唐诗读本</p><!--简介-->
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">王晓磊</p><!--作者-->
                <p class="weui-media-box__info__meta">北京十月文艺出版社</p><!--出版社-->

            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="http://img3x8.ddimg.cn/58/20/23988748-1_b_11.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">机械设计</h4>
            <p class="weui-media-box__desc">机械工程师必读宝典</p>
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">罗伯特.诺顿</p><!--出版社-->
                <p class="weui-media-box__info__meta">机械工业出版社</p><!--出版社-->
                <!--出日期-->
            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb"
                 src="https://images-cn.ssl-images-amazon.com/images/I/61GyVMygivL._SY498_BO1,204,203,200_.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">六神磊磊读唐诗</h4><!--标题-->
            <p class="weui-media-box__desc">自媒体写作的高峰六神磊磊力作，一本又有趣又涨姿势的唐诗读本</p><!--简介-->
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">王晓磊</p><!--作者-->
                <p class="weui-media-box__info__meta">北京十月文艺出版社</p><!--出版社-->

            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="http://img3x8.ddimg.cn/58/20/23988748-1_b_11.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">机械设计</h4>
            <p class="weui-media-box__desc">机械工程师必读宝典</p>
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">罗伯特.诺顿</p><!--出版社-->
                <p class="weui-media-box__info__meta">机械工业出版社</p><!--出版社-->
                <!--出日期-->
            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb"
                 src="https://images-cn.ssl-images-amazon.com/images/I/61GyVMygivL._SY498_BO1,204,203,200_.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">六神磊磊读唐诗</h4><!--标题-->
            <p class="weui-media-box__desc">自媒体写作的高峰六神磊磊力作，一本又有趣又涨姿势的唐诗读本</p><!--简介-->
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">王晓磊</p><!--作者-->
                <p class="weui-media-box__info__meta">北京十月文艺出版社</p><!--出版社-->

            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="http://img3x8.ddimg.cn/58/20/23988748-1_b_11.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">机械设计</h4>
            <p class="weui-media-box__desc">机械工程师必读宝典</p>
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">罗伯特.诺顿</p><!--出版社-->
                <p class="weui-media-box__info__meta">机械工业出版社</p><!--出版社-->
                <!--出日期-->
            </li>
        </div>
    </a>
</div>
<div class="weui-panel__ft">
    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__bd">查看更多</div>
        <span class="weui-cell__ft"></span>
    </a>
</div>

<div class="weui-panel__hd">成交排行</div>
<div class="weui-panel__bd">
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb"
                 src="https://images-cn.ssl-images-amazon.com/images/I/61GyVMygivL._SY498_BO1,204,203,200_.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">六神磊磊读唐诗</h4><!--标题-->
            <p class="weui-media-box__desc">自媒体写作的高峰六神磊磊力作，一本又有趣又涨姿势的唐诗读本</p><!--简介-->
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">王晓磊</p><!--作者-->
                <p class="weui-media-box__info__meta">北京十月文艺出版社</p><!--出版社-->

            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="http://img3x8.ddimg.cn/58/20/23988748-1_b_11.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">机械设计</h4>
            <p class="weui-media-box__desc">机械工程师必读宝典</p>
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">罗伯特.诺顿</p><!--出版社-->
                <p class="weui-media-box__info__meta">机械工业出版社</p><!--出版社-->
                <!--出日期-->
            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb"
                 src="https://images-cn.ssl-images-amazon.com/images/I/61GyVMygivL._SY498_BO1,204,203,200_.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">六神磊磊读唐诗</h4><!--标题-->
            <p class="weui-media-box__desc">自媒体写作的高峰六神磊磊力作，一本又有趣又涨姿势的唐诗读本</p><!--简介-->
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">王晓磊</p><!--作者-->
                <p class="weui-media-box__info__meta">北京十月文艺出版社</p><!--出版社-->

            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="http://img3x8.ddimg.cn/58/20/23988748-1_b_11.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">机械设计</h4>
            <p class="weui-media-box__desc">机械工程师必读宝典</p>
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">罗伯特.诺顿</p><!--出版社-->
                <p class="weui-media-box__info__meta">机械工业出版社</p><!--出版社-->
                <!--出日期-->
            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb"
                 src="https://images-cn.ssl-images-amazon.com/images/I/61GyVMygivL._SY498_BO1,204,203,200_.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">六神磊磊读唐诗</h4><!--标题-->
            <p class="weui-media-box__desc">自媒体写作的高峰六神磊磊力作，一本又有趣又涨姿势的唐诗读本</p><!--简介-->
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">王晓磊</p><!--作者-->
                <p class="weui-media-box__info__meta">北京十月文艺出版社</p><!--出版社-->

            </li>
        </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="http://img3x8.ddimg.cn/58/20/23988748-1_b_11.jpg" alt="">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">机械设计</h4>
            <p class="weui-media-box__desc">机械工程师必读宝典</p>
            <li class="weui-media-box__info">
                <p class="weui-media-box__info__meta">罗伯特.诺顿</p><!--出版社-->
                <p class="weui-media-box__info__meta">机械工业出版社</p><!--出版社-->
                <!--出日期-->
            </li>
        </div>
    </a>
</div>
<div class="weui-panel__ft">
    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__bd">查看更多</div>
        <span class="weui-cell__ft"></span>
    </a>
</div>

<!--列表结束-->

{include file="bottom" /}