{include file="header" /}
<div style="text-align:center;">
    <div style="height:30%;">
        <img style="margin:40px auto;" src="__IMAGE__{$assess}"/>
    </div>
    <form method="post">
        <div class="weui-cells__title"></div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">账户</label></div>
                <div class="weui-cell__bd weui-cell_primary">
                    <input type="tel" name="username" class="weui-input" placeholder="手机号码">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                <div class="weui-cell__bd weui-cell_primary">
                    <input type="password" name="password" class="weui-input" placeholder="不少于6位">
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" onclick="return check(this.form);">登录</button>
        </div>
        <div class="weui-btn-area">
            <a href="/register" class="important-tips">没账户，去注册</a>
        </div>
    </form>
    <div class="weui-btn-area">
        <div style="text-align:center;font-size:12px;">其它登录方式</div>
    </div>
    <div class="weui-btn-area">
        <img style="text-align:center;padding-top:5px" src="__IMAGE__/icon32_wx_button.png"/>
    </div>
    <script src="__JS__/register.js" type="text/javascript" charset="utf-8"></script>
</div>
<!--登录结束-->

{include file="bottom" /}